*{
    font-family: 'Montserrat'; font-weight: bold;
    background-color: #9FF0A7;
    

}

.popup{
    width: 911px;
    height: 599px;
}

.botoes{
    background-color: #E9BBED;
    border-radius: 5px;
    color: #DB11AA;
    border: none;
    font-size: 16px;
    display: block;

    
}

.entrar{
    background-color: #FFD3F5;
    color: #DB11AA;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

h2{
    color: #DB11AA;
}